@import "tailwindcss";

:root {
  /* Toss Colors & System Colors */
  --background: #F9FAFB;
  /* Warm Gray 50 */
  --foreground: #191F28;
  /* Toss Black */

  --primary: #3182F6;
  /* Toss Blue */
  --secondary: #4E5968;
  /* Slate 600 */
  --border: #E5E8EB;
  /* Gray 200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);

  --font-sans: var(--font-noto-sans-kr);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #EDEDED;
    --border: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr), -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.02em;
  /* 현대적인 느낌의 자간 */
  -webkit-font-smoothing: antialiased;
}